body{
    background-color: rgb(255, 117, 117);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    text-align: center;
}
#gif{
    width: 250px;
    height: 350;
    border-radius: 50%;
}
h1{
    color: rgb(48, 16, 16);
}
#yesBtn{
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin-right: 10px; 
    background-color: rgb(48, 16, 16);
    color: rgb(255, 117, 117);
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
#noBtn{
    background-color: rgb(48, 16, 16);
    font-size: 25px;
    width: 50px;
    height: 50px;
    color: rgb(255, 117, 117);
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    position: absolute;
}
