* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(7, 1, 1);
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li, a, button {
    color: rgb(214, 214, 214);
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #ffffff;
}
button {
    font-size: 20px;
    padding: 9px 25px;
    background-color: rgb(31, 2, 2);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(71, 43, 43, 0.8);
}
#about {
    padding: 50px;
    color: #ffffff;
    text-align: center;
    margin: 20px;
    max-width: 900px;
    max-height: 500px;
    margin: 0 auto;
}